@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter-VariableFont_opsz,wght.ttf');
}

@font-face {
  font-family: 'Martin Mono';
  src: url('/fonts/martian-mono/MartianMono-VariableFont_wdth,wght.ttf');
}