.header {
  position : absolute;
  width    : 100%;
  z-index  : 1;

  &__content {
    padding : 1.5rem 0;

    @include breakpoint(small) {
      padding : 2rem 0;
    }
  }

  &__logo {
    width : 12rem;
  }
}